{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto align-content-center w-800">
        <div class="card">
            <div class="card-header">
                <h4>Class Details</h4>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label class="form-label">Class Name</label>
                    <p>{{ class_room.class_name }}</p>
                </div>
                <div class="mb-3">
                    <label class="form-label">Capacity</label>
                    <p>{{ class_room.capacity }} students</p>
                </div>
            </div>
            <div class="card-footer d-flex gap-2">
                <a href="{% url 'class_delete' pk=class_room.id %}" class="btn btn-danger">Delete</a>
                <a href="{% url 'class_list' %}" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}