{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto" style="margin-top: 47px;margin-bottom: 20px; width: 1000px;" >
        <div class="card">
            <div class="card-header">
                <h4>Create New Subject</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="{{ form.subject_name.id_for_label }}" class="form-label">Subject Name</label>
                                {{ form.subject_name }}
                                {% if form.subject_name.errors %}
                                    <div class="text-danger">{{ form.subject_name.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="{{ form.code.id_for_label }}" class="form-label">Code</label>
                                {{ form.code }}
                                {% if form.code.errors %}
                                    <div class="text-danger">{{ form.code.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="mb-3" style="margin-top: 20px;" >
                        <label for="{{ form.description.id_for_label }}" class="form-label">Description</label>
                        {{ form.description }}
                        {% if form.description.errors %}
                            <div class="text-danger">{{ form.description.errors }}</div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary">Create Subject</button>
                    <a href="{% url 'subject_list' %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}